@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.p-toolbar {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}

@media (min-width: 768px) {
  .full-height {
    .p-panel.p-component {
      height: 100% !important;
    }
  }
}

// main

.main {
  border-color: var(--p-toolbar-border-color);

  &__logo {
    font-size: 1.5rem;
  }
}

.menu {
  border-bottom-color: var(--p-toolbar-border-color);
}

// trips

.trips {
  &__logo {
    font-size: 3rem;
    color: var(--p-primary-color);
  }
}

// trip

.trip {
  &__logo {
    font-size: 3rem;
    color: var(--p-primary-color);
  }
}
